<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  computed: {
    cssVars() {
      return {
        '--column-size': this.data.column_size || 3,
      };
    },
  },
});
</script>

<template>
  <SlpContainer class="group-cta">
    <div v-if="data.header" class="group-cta__header">
      <SlpTypography
        tag="h2"
        :variant="data.header.variant || 'heading2-bold'"
        class="text"
      >
        {{ data.header.text }}
      </SlpTypography>
      <SlpButton
        v-if="data.header.link"
        variant="ghost"
        :href="data.header.link.href"
        :data-ga-name="data.header.link.text"
        data-ga-location="resource cards"
        class="button"
        >{{ data.header.link.text }}
        <SlpIcon
          name="chevron-lg-right"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
    </div>
    <div class="group-cta__container" :style="cssVars">
      <SlpGroupButton
        v-for="button in data.buttons"
        :key="button.text"
        :icon-right="button.icon_right || 'arrow-right'"
        icon-right-size="sm"
        icon-left-size="md"
        :icon-left="button.icon_left || 'devsecops'"
        :href="button.href"
        class="group-cta__button"
      >
        {{ button.text }}
      </SlpGroupButton>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.group-cta {
  margin-top: $spacing-160;
  margin-bottom: $spacing-160;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }

    .text {
      @media (min-width: $breakpoint-lg) {
        max-width: 70%;
      }
    }
    .button {
      white-space: nowrap;
      color: $color-primary-200;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-16;
    padding: $spacing-32 0;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(var(--column-size), 1fr);
    }

    .slp-group-btn {
      width: 100%;
      background: $color-surface-900;
      &:hover {
        background: $color-surface-950;
      }
      justify-content: flex-start;
      :deep(.text) {
        flex-basis: 100%;
        font-weight: 600;
      }
    }
  }
  &__button {
    @media (min-width: $breakpoint-lg) {
      margin-right: $spacing-24;
    }
  }
}
</style>
